@import 'mixins/vr/vr-main';

$grid-breakpoint-s: 30rem;
$grid-breakpoint-m: 60rem;
$grid-gutter: $distance-m;

$black: #222;
$white: #fff;
$yellow: #ffffc2;

a {
	color: $black;
}

body {
	overflow-x: hidden;

	padding: 0 $grid-gutter;

	color: $black;

	background-color: $white;
}

blockquote {
	display: inline-block;

	margin: 0 0 $paragraph-trailer;
	padding: ($distance-l + $distance-l) $paragraph-trailer 0;

	background: $yellow;
}

code {
	padding: $distance-m $distance-l;

	background-color: $yellow;

	& + p {
		padding-top: $paragraph-trailer;
	}
}

form {
	label,
	legend {
		font-weight: bold;
	}

	fieldset,
	input,
	select,
	textarea {
		margin-bottom: $paragraph-trailer;
	}

	input {
		&[type=radio],
		&[type=checkbox] {
			margin-bottom: 0;

			+ label {
				margin-right: $distance-m;

				font-weight: normal;
			}
		}
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: bold;
}

// OL is used to style the how-to steps
ol {
	flex-wrap: wrap;
	display: flex;

	margin: 0 ($grid-gutter * -1);
	padding: 0;

	list-style-type: none;

	li {
		width: 100%;

		padding: 0 $grid-gutter;

		@media (min-width: $grid-breakpoint-s) {
			width: (100% / 2);
		}

		@media (min-width: $grid-breakpoint-m) {
			width: (100% / 4);
		}
	}
}

table {
	width: 100%;

	text-align: left;

	thead,
	tfoot,
	tbody {
		vertical-align: top;
	}
}

.btn {
	padding: $distance-m $distance-l;

	font-weight: bold;

	background-color: $white;
	border-color: $black;

	&:active,
	&:focus,
	&:hover {
		color: $white;

		background-color: $black;
	}
}

.header {
	text-align: center;
}

// Sections are divided with a border
.section {
	$section-border-width: $border-width-m;

	position: relative; // For .section__title

	margin: ($section-border-width * -1) 0 0;
	padding: ($rhythm * 2) 0 0;

	border-top: $section-border-width solid $black;
}

.table-wrapper {
	overflow-x: auto;
	overflow-y: hidden;

	margin: 0 0 $paragraph-trailer;

	table {
		margin-bottom: 0;
	}
}
