@mixin vr-baseline {
	// Sets a baseline every half rhythm.
	background: linear-gradient(
		transparent,
		transparent ($rhythm / 2 - 0.0625rem),
		$vr-color-transparent ($rhythm / 2 - 0.0625rem),
		$vr-color-transparent ($rhythm / 2),
		transparent ($rhythm / 2),
		transparent ($rhythm - 0.0625rem),
		$vr-color-transparent ($rhythm - 0.0625rem),
		$vr-color-transparent ($rhythm)
	);

	background-size: 100% $rhythm;
	background-repeat: repeat-y;
}
