$show-baseline:					true; // Toggles the baseline

$font-display:					Arial, sans-serif;
$font-body:						Georgia, serif;
$font-mono:						'Courier New', monospace;

$cap-font-display:				0.02825;
$cap-font-body:					0.02825;
$cap-font-mono:					0.10625;

$px-font-size:					16;
$px-line-height:				24; // Even numbers work best

$base-font-size:				($px-font-size / 16) * 1rem;
$base-line-height:				($px-line-height / $px-font-size);

$rhythm:						($base-font-size * $base-line-height);

// Modular scale - see <functions/calc-font-sizes> for all preset scales
// $modular-scale:					'minor-second';
// $modular-scale:					'major-second';
// $modular-scale:					'minor-third';
// $modular-scale:					'major-third';
// $modular-scale:					'perfect-fourth';
// $modular-scale:					'augmented-fourth';
// $modular-scale:					'perfect-fifth';
// $modular-scale:					'minor-sixth';
$modular-scale:					'golden-section';
// $modular-scale:					'major-sixth';
// $modular-scale:					'minor-seventh';
// $modular-scale:					'major-seventh';
// $modular-scale:					'octave';
// $modular-scale:					'major-tenth';
// $modular-scale:					'major-eleventh';
// $modular-scale:					'major-twelfth';
// $modular-scale:					'double-octave';

$font-sizes:					('xs', 's', 'm', 'l', 'xl', 'xxl');
$font-size-default:				's';

// Font sizes
$font-sizes:					calc-font-sizes($modular-scale, $font-sizes, $font-size-default);

$font-size-xs:					map-get($font-sizes, xs);
$font-size-s:					map-get($font-sizes, s);
$font-size-m:					map-get($font-sizes, m);
$font-size-l:					map-get($font-sizes, l);
$font-size-xl:					map-get($font-sizes, xl);
$font-size-xxl:					map-get($font-sizes, xxl);

// Alignment
$header-trailer:				$rhythm * 0;
$paragraph-trailer:				$rhythm * 1;

$distance-s:					$rhythm * 0.25;
$distance-m:					$rhythm * 0.5;
$distance-l:					$rhythm * 1;

$size-s:						$rhythm * 0.25;
$size-m:						$rhythm * 0.5;
$size-l:						$rhythm * 1;

// Borders
$border-width-s:				0.0625rem;
$border-width-m:				0.125rem;
$border-width-l:				0.25rem;

$border-radius-s:				0.125rem;
$border-radius-m:				0.25rem;
$border-radius-l:				0.5rem;

// Colors
$vr-black:						#000;
$vr-color-base:					#ff6347;
$vr-color:						rgba($vr-color-base, 0.5);
